<div id="box">
  <h1>TODO List</h1>
  <p>A place to store To-Dos</p>
  <hr>
  <input type="text" placeholder="Filter ToDos" class="filter" [(ngModel)]="filterTask">
  <ol>
    <li *ngFor="let task of tasks" [ngClass]="{completed: task.completed}">
      <div *ngIf="searchTasks(filterTask, task)"></div>
      <section id="completeSection" *ngIf=task.task.includes(filterTask)>
        <button class="completeButton" *ngIf=!task.completed (click)=taskCompleted(task)>Complete</button>
        {{ task.task }}
        <section class="close" (click)="removeTask(task)"><span class="x-right">x</span></section>
      </section>
    </li>
  </ol>
  <input type="text" placeholder="Add Task" class="addTask" [(ngModel)]="newTask">
  <button class="addButton" (click)="addTask(newTask)">Add</button>
</div>
